/*
Zerotheme.com | Free Html5 Responsive Templates
Author URI: https://www.zerotheme.com/
*/

html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}




@media only screen and (min-width: 960px) and (max-width: 1199px) {
	
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	#sidebar .widget .wid-about{padding-top: 10px;height: 125px; }
	#sidebar .widget.wid-posts img{margin: 10px;padding-left: 20px;}
	#sidebar .widget.wid-posts .resent {line-height: 1.1em;padding-bottom: 7px;margin: 10px 0 10px -20px;}
	#sidebar .widget .wid-about a{font-size:20px;}
	#sidebar .widget .wid-content a {font-size:16px;}
	#sidebar .widget .wid-header h4{font-size: 20px;padding: 0 20px 0 5px;}
	 
	.title {font-size: 20px;line-height: 3em;}
	article .art-content p {font-size: 14px;}
	 
}

@media only screen and (max-width: 767px) {
	.menu {float: none;}
	.menu a {border-bottom: 1px solid #1111111;}
    .toggleMenu.active {display: block;}
    .menu > li {float: none;}
    .menu > li > .parent {background-position: 95% 50%;}
    .menu li li .parent {background-image: url("../images/downArrow.png"); background-repeat: no-repeat; background-position: 95% 50%;}
    .menu ul {display: block; width: 100%;}
    .menu > li.hover > ul , .menu li li.hover ul {position: static;}
   
   
    .top-header{padding: 0 10px;}
	header {margin-top: 0px;height:250px;}
	.container {display: inline-block;}/*Fix Menu*/
	
	 .art-related img{max-width: 210px;}
	 
	 #sidebar .wrap-slidebar {margin-top: 30px;}
	 #sidebar .widget .wid-about{padding-top: 75px;height: 225px; }
}
@media only screen and (max-width: 600px) {
	 header {margin-top: 0px;height: 200px;}
}