/* ----------------------------------Reset--------------------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}



/* ----------------------------------Html-Body----------------------------- */
:root {
	--dark: #333333;
	--light-color1: #ffc3f8;
	--light-color1a: #ffc3f89e;
	--light-color1b: #ffc3f89e;
	--light-color2: #0ef2e1;
	--light-color2a: #0ef2e1a3;
}

html, body {width:100%; padding:0; margin:0;}
body {
	background: url(/images/bg_city2.webp) fixed;
	background-size: cover;
	background-color: #282637;
	color: #4D4D4D;
	font: 14px/25px Arial, Helvetica, sans-serif;
}
body .wrap-body{}


@keyframes colorRotate {
  from {
    color: var(--light-color1);
	text-shadow: 0 0 5px var(--light-color1);
  }
  50% {
    color: var(--light-color2);
	text-shadow: 0 0 5px var(--light-color2);
  }
}

@keyframes colorRotate2 {
  from {
    color: var(--light-color1);
	text-shadow: 0 0 8px var(--light-color1a);
  }
  50% {
    color: var(--light-color2);
	text-shadow: 0 0 8px var(--light-color2a);
  }
}


a{color: #4C4C4C;text-decoration: none;}
.celRec img:hover, img.thumb:hover{
	filter: brightness(1.05); text-decoration: none;
}

p a{text-decoration: underline;}

a.previous, a.next {
    font-size: 5em;
    font-family: monospace;
    color: var(--light-color2a);
	text-shadow: 0 0 6px var(--light-color2a);
    position: absolute;
    text-align: center;
    width: 70px;
    height: 360px;
    line-height: 360px;
}
a.previous{
	left: calc(50% - 20px - 710px);
}
a.next {
	right: calc(50% - 20px - 710px);

}
a.previous:hover, a.next:hover {
	text-shadow: 0px 0px 4px var(--light-color2)
}

.new::after {
    content: "New!";
    color: var(--light-color1);
	font-family: monospace;
	text-shadow: 0 0 3px var(--light-color1a);
    position: absolute;
    font-size: small;
    margin-top: -8px;
	margin-left: -15px;
    transform: rotate(10deg);
}

blockquote{padding-left: 10px}
blockquote, q{quotes: none;}

code{font-size: 1em;}

h1, h2, h3, h4{	font-size: 25px;line-height: 25px;}
.title{
	color: var(--dark);
    line-height: 1em;
    padding: 1em 0;
}

.titulo a{
	text-decoration: none;
    color: inherit;
}
.titulo a:hover{
	filter: none;
}
.subtitulo {
	text-align: center;
	margin-top: -83px;
	font-size: 18px;
    color: var(--light-color1);
    color: var(--light-color2);
    text-shadow: 0 0 4px var(--light-color2), 3px 2px #005c55;
    font-weight: bold;
}
.titulo2{
    width: 100%;
    margin: 10px;
	background: var(--dark);
    outline: solid 1px var(--light-color2);
    outline-offset: -5px;
    margin-left: 0;
    text-shadow: 0px 0px 4px var(--light-color1a);
    color: var(--light-color1);
    text-align: center;
    box-shadow: #72426a78 1px 1px;
    padding: 8px;
}
.last {
    font-size: small;
    text-align: end;
    font-family: monospace;
    font-style: italic;
    color: var(--light-color2);
	text-shadow: 0px 0px 4px var(--light-color2a);
}
.r18{
    font-weight: bold;
    font-size: large;
    position: relative;
    padding: 3px;
    color: #f382b1;
    font-size: .6em;
    margin-top: -2px;
    margin-left: 20px;
    border: 2px solid #f382b1;
	text-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    transform: rotate(10deg);
    color: #ff7ccb;
    position: absolute;
}
.r18-btn {
    position: absolute;
    font-weight: bold;
    font-size: large;
    right:0px;
    text-align: right;
    padding-right: 1em;
}
.r18-btn a{
	color:#ff7198;
}
.r18-btn a:hover{
	color:#e26981;
}
.ilust-rec{
	justify-content: center;
}
.celRec{
	width: 264px;
	padding: 6px;
	padding-top: 2px;
}
.outras-ilust{
	justify-content: center;
}
.cellAll {
	width: 164px;
	padding: 2px;
}

.menu {
    display: flex;
    justify-content: center;
}
.radio {
    margin-top: -15px;
    margin-bottom: -33px;
}
#dançadeira{
	left: calc(50% - 290px);
	left: calc(50% - 280px);
    margin-top: -250px;
	margin-top: -185px;
    position: absolute;
    pointer-events: none;
	z-index: 3;
}
.radio .label {
	display: flex;
	align-items: end;
    flex-wrap: wrap;
	margin: auto;
    color: var(--light-color1);
    text-shadow: 0 0 4px var(--light-color1);
    font-family: monospace;
    background: var(--dark);
    width: 400px;
	min-height: 30px;
    border-radius: 40px;
    padding: 5px;
    top: 150px;
}
.label center {
    flex-basis: 100%;
}
#radio_title{
	text-shadow: 0 0 8px var(--light-color1a);
	color: var(--light-color1);
	font-family: fantasy;
	font-size: medium;
	line-height: 1em;
	animation: colorRotate2 2s linear 0s infinite;
}
.radio marquee {
	color: var(--light-color1);
	text-shadow: 0 0 4px var(--light-color1);
    display: flex;
	margin-top: 3px;
	line-height: 1em;
	animation: colorRotate 1s linear 0s infinite;
}

#radio_poster{
	margin-bottom: -35px;
	display: block;
	height: 175px;
    object-fit: cover;
    object-position: top;
}

.audio{
	-webkit-appearance:none;
    margin-bottom: -33px;
	opacity: .9;
	height: 40px;
	width: 210px;
}
.audio{
	-webkit-appearance:none;
    margin-bottom: -33px;
	opacity: .9;
	height: 35px;
	width: 210px;
}

.audio::-webkit-media-controls-time-remaining-display,
.audio::-webkit-media-controls-timeline {
    display: none;
}

.audio::-webkit-media-controls-timeline {
    display: none;
}

.audio::-webkit-media-controls-panel {
    background: var(--light-color2);
    text-align: center;
    display: flex;
    justify-content: center; 

}
.audio::-webkit-media-controls-current-time-display{
	display: true;
}
.audio::-webkit-media-controls-play-button{
	display: none;
}

.gif{
    display: inline-block;
    position:relative;
}

.gif:before {
    content: "GIF";
    background: rgb(243 130 177 / 62%);
    color: white;
    width: 35px;
    height: 30px;
    line-height: 2.5;
    text-shadow: 1px 1px #853a3a;
    padding-left: 5px;
    font-weight: 800;
    position: absolute;
    border-bottom-right-radius: 10px;
    border-left: none;
}


.gif .quegifa {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
}

.gif:hover .quegifa {
        display: inline;
 }
.left{float: left!important;}
.right{float: right!important;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix{}
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.col { padding: 0 }
/* -----------------------------------Header------------------------------- */

.wrap-header{
	margin-left: auto;
	margin-right: auto;
	width:480px;
	height:145px;
	outline: none;
	background: url(/images/frame.webp) center top no-repeat;
	
}
.header-social{ margin: 10px 0;}
.header-search{}
.header-search #search{}/*component.css*/

header {margin-bottom:20px;}
.top-header{
	display: flex;
    	justify-content: center;
    	align-items: center;
	text-align: center;
	background-color: var(--dark);
	width: 100%;
	outline: solid 1px var(--light-color1);
    	outline-offset: -6px;
}

header #logo {margin: 30px auto 10px auto; max-width: 400px;}

nav{}/*-component.css-*/
nav .menu{}/*-component.css-*/


/* -----------------------------------Container---------------------------- */
.container {display: block;margin-top:30px;}
.container.wrap-content{background-color: #fff;padding: 20px;}

#main-content{}
#sidebar{}
#sidebar .wrap-slidebar{background-color: #fff;padding: 20px;}
#sidebar .widget{}/*--component.css--*/


/* -----------------------------------Footer------------------------------- */
footer {margin-top: 20px; padding: 10px 0 10px 0;background-color: var(--dark);color:#fff}
footer p{margin: 10px;}
footer .footer-social{text-align: center; margin: 10px 0;}
footer .back-to-top {text-align: center;margin: 10px 0;}
footer .back-to-top a {color: #fff;}
footer .back-to-top a :hover {color: var(--dark);}
footer .copyright{text-align: center; color: var(--light-color1); text-shadow: 0 0 4px var(--light-color1);}
